@model BusinessObjects.DTO.SachDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>SachDto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <input asp-for="TenSach" class="form-control" />
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluongton" class="control-label"></label>
                <input asp-for="Soluongton" class="form-control" />
                <span asp-validation-for="Soluongton" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNxb" class="control-label"></label>
                <input asp-for="MaNxb" class="form-control" />
                <span asp-validation-for="MaNxb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input type="file" name="anhBia" asp-for="AnhBia" class="form-control" />

            </div>
       
            <div class="form-group">
                <label asp-for="MaTl" class="control-label"></label>
                <input asp-for="MaTl" class="form-control" />
                <span asp-validation-for="MaTl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NamXuatBan" class="control-label"></label>
                <input asp-for="NamXuatBan" class="form-control" />
                <span asp-validation-for="NamXuatBan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTrang" class="control-label"></label>
                <input asp-for="SoTrang" class="form-control" />
                <span asp-validation-for="SoTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaTacGia" class="control-label"></label>
                <input asp-for="MaTacGia" class="form-control" />
                <span asp-validation-for="MaTacGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

