@model BusinessObjects.Models.Taikhoan;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bookstore</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/user_css/bootstrap.min.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="~/user_css/typography.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/user_css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/user_css/responsive.css">
</head>
<body>
    <section class="sign-in-page">
        <div class="container p-0">
            <div class="row no-gutters height-self-center">
                <div class="col-sm-12 align-self-center page-content rounded">
                    <div class="row m-0">
                        <div class="col-sm-12 sign-in-page-data">
                            <div class="sign-in-from bg-primary rounded">
                                <h3 class="mb-0 text-center text-white">Sign Up</h3>
                                <p class="text-center text-white">Enter your username address and password to access admin panel.</p>
                                <form class="mt-4 form-text" method="post">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Your Username</label>
                                        <input type="text" name="Username" class="form-control mb-0" id="exampleInputEmail1" placeholder="Your Username">
                                        <span asp-validation-for="Username" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" name="Password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail2">Phone</label>
                                        <input type="text" name="Mobile" class="form-control mb-0" id="exampleInputEmail2" placeholder="Enter email">
                                    </div>

                                    <div class="d-inline-block w-100">
                                        <div class=" d-inline-block mt-2 pt-1">
                                            <label> @ViewData["msg"] </label>
                                        </div>
                                    </div>
                                    <div class="sign-info text-center">
                                        <button type="submit" class="btn btn-white d-block w-100 mb-2">Sign Up</button>
                                        <span class="text-dark d-inline-block line-height-2">Already Have Account ? <a href="sign-in.html" class="text-white">Log In</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/user_js/"></script>
    <script src="~/user_js/"></script>
    <script src="~/user_js/bootstrap.min.js"></script>
    <!-- Appear JavaScript -->
    <script src="~/user_js/jquery.appear.js"></script>
    <!-- Countdown JavaScript -->
    <script src="~/user_js/countdown.min.js"></script>
    <!-- Counterup JavaScript -->
    <script src="~/user_js/waypoints.min.js"></script>
    <script src="~/user_js/jquery.counterup.min.js"></script>
    <!-- Wow JavaScript -->
    <script src="~/user_js/wow.min.js"></script>
    <!-- Apexcharts JavaScript -->
    <script src="~/user_js/apexcharts.js"></script>
    <!-- lottie JavaScript -->
    <script src="~/user_js/lottie.js"></script>
    <!-- Slick JavaScript -->
    <script src="~/user_js/slick.min.js"></script>
    <!-- Select2 JavaScript -->
    <script src="~/user_js/select2.min.js"></script>
    <!-- Owl Carousel JavaScript -->
    <script src="~/user_js/owl.carousel.min.js"></script>
    <!-- Magnific Popup JavaScript -->
    <script src="~/user_js/jquery.magnific-popup.min.js"></script>
    <!-- Smooth Scrollbar JavaScript -->
    <script src="~/user_js/smooth-scrollbar.js"></script>
    <!-- Style Customizer -->
    <script src="~/user_js/"></script>
    <!-- Custom JavaScript -->
    <script src="~/user_js/custom.js"></script>
</body>
</html>
